# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\work\하스스튜디오\html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea/